slither_processed_contracts.pkl
full_match
partial_match
node_modules
temp
*.pkl
data
**/*.pkl
training_models
trained_model_last_epoch
sol_dataset
**/__pycahce__
.DS_Store
SolCoder
__pycache__/
*.pyc
wandb
slither_processed_contracts
Sol*