accelerate==0.26.1
blinker==1.4
datasets==2.16.1
evaluate==0.4.1
huggingface-hub==0.20.3
numpy==1.24.3
onnx==1.13.1
opt-einsum==3.3.0
pandas==2.2.0
peft==0.7.1
scipy==1.11.2
solc-select==1.0.4
tokenizers==0.15.1
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
torchvision==0.16.0+cu118
tqdm==4.65.0
transformers==4.37.1
trl==0.7.10
bitsandbytes==0.42.0